.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
    margin-bottom: 32px;
}

@keyframes mulShdSpin {

    0%,
    100% {
        box-shadow:
            0em -2.6em 0em 0em #ff7a00,
            1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2),
            2.5em 0em 0 0em rgba(255, 122, 0, 0.2),
            1.75em 1.75em 0 0em rgba(255, 122, 0, 0.2),
            0em 2.5em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 122, 0, 0.2),
            -2.6em 0em 0 0em rgba(255, 122, 0, 0.5),
            -1.8em -1.8em 0 0em rgba(255, 122, 0, 0.7);
    }

    12.5% {
        box-shadow:
            0em -2.6em 0em 0em rgba(255, 122, 0, 0.7),
            1.8em -1.8em 0 0em #ff7a00,
            2.5em 0em 0 0em rgba(255, 122, 0, 0.2),
            1.75em 1.75em 0 0em rgba(255, 122, 0, 0.2),
            0em 2.5em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 122, 0, 0.2),
            -2.6em 0em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 122, 0, 0.5);
    }

    25% {
        box-shadow:
            0em -2.6em 0em 0em rgba(255, 122, 0, 0.5),
            1.8em -1.8em 0 0em rgba(255, 122, 0, 0.7),
            2.5em 0em 0 0em #ff7a00,
            1.75em 1.75em 0 0em rgba(255, 122, 0, 0.2),
            0em 2.5em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 122, 0, 0.2),
            -2.6em 0em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2);
    }

    37.5% {
        box-shadow:
            0em -2.6em 0em 0em rgba(255, 122, 0, 0.2),
            1.8em -1.8em 0 0em rgba(255, 122, 0, 0.5),
            2.5em 0em 0 0em rgba(255, 122, 0, 0.7),
            1.75em 1.75em 0 0em #ff7a00,
            0em 2.5em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 122, 0, 0.2),
            -2.6em 0em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2);
    }

    50% {
        box-shadow:
            0em -2.6em 0em 0em rgba(255, 122, 0, 0.2),
            1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2),
            2.5em 0em 0 0em rgba(255, 122, 0, 0.5),
            1.75em 1.75em 0 0em rgba(255, 122, 0, 0.7),
            0em 2.5em 0 0em #ff7a00,
            -1.8em 1.8em 0 0em rgba(255, 122, 0, 0.2),
            -2.6em 0em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2);
    }

    62.5% {
        box-shadow:
            0em -2.6em 0em 0em rgba(255, 122, 0, 0.2),
            1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2),
            2.5em 0em 0 0em rgba(255, 122, 0, 0.2),
            1.75em 1.75em 0 0em rgba(255, 122, 0, 0.5),
            0em 2.5em 0 0em rgba(255, 122, 0, 0.7),
            -1.8em 1.8em 0 0em #ff7a00,
            -2.6em 0em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2);
    }

    75% {
        box-shadow:
            0em -2.6em 0em 0em rgba(255, 122, 0, 0.2),
            1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2),
            2.5em 0em 0 0em rgba(255, 122, 0, 0.2),
            1.75em 1.75em 0 0em rgba(255, 122, 0, 0.2),
            0em 2.5em 0 0em rgba(255, 122, 0, 0.5),
            -1.8em 1.8em 0 0em rgba(255, 122, 0, 0.7),
            -2.6em 0em 0 0em #ff7a00,
            -1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2);
    }

    87.5% {
        box-shadow:
            0em -2.6em 0em 0em rgba(255, 122, 0, 0.2),
            1.8em -1.8em 0 0em rgba(255, 122, 0, 0.2),
            2.5em 0em 0 0em rgba(255, 122, 0, 0.2),
            1.75em 1.75em 0 0em rgba(255, 122, 0, 0.2),
            0em 2.5em 0 0em rgba(255, 122, 0, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 122, 0, 0.5),
            -2.6em 0em 0 0em rgba(255, 122, 0, 0.7),
            -1.8em -1.8em 0 0em #ff7a00;
    }
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    box-sizing: border-box;
}

.form {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.input {
    box-sizing: border-box;
    width: 272px;
    height: 40px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #808080;
}

.input:hover {
    border: 1px solid #000000;
}

.input:focus {
    border: 1px solid #4E75FF;
}

.button {
    width: 91px;
    height: 40px;
    border-radius: 8px;
    background-color: #4E75FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #6C8CFF;
}

.button:focus,
.button:active {
    outline: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 0;
    margin: 32px auto;
    max-width: 1128px;
    list-style: none;
}

.gallery-item {
    display: block;
    border: 1px solid #808080;
    overflow: hidden;
    background: #fff;
    text-decoration: none;
    color: inherit;
    transition: box-shadow 0.2s ease;
    width: 360px;
    height: 200px;
}

.gallery-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.gallery-item img {
    width: 100%;
    height: 152px;
    object-fit: cover;
    display: block;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 4px 25px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: #2E2F42;
    gap: 32px;
    text-align: center;
}

.info p {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.info p b {
    font-weight: 600;
}

.load-more{
    width: 125px;
    height: 40px;
    border-radius: 8px;
    background-color: #4E75FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.load-more:hover {
    background-color: #6C8CFF;
}

.load-more:focus,
.load-more:active {
    outline: none;
}